<div class="logos">
  <a href="http://futureearth.org/projects" target="_blank"><img alt="Future Earth logos" src="/images/logos/futureearth.gif"></a>
  <!--
  <a href="http://climate.yale.edu/" target="_blank"><img alt="Yale Climate and Energy Institute logo" src="/images/logos/ycei_logo.jpg"></a>
  <a href="http://sbsc.yale.edu/" target="_blank"><img alt="￼Program in Spatial Biodiversity Science and Conservation logo" src="/images/logos/sbsc_logo.jpg"></a>
  <a href="http://yibs.yale.edu/" target="_blank"><img alt="Yale Institute for Biospheric Studies logo" src="/images/logos/yibs_logo.png"></a>
  <a href="http://www.mountainbiodiversity.org/" target="_blank"><img alt="Mountain Biodiversity Portal logo" src="/images/logos/gmba_logo.jpg"></a>
  <a href="http://mol.org/" target="_blank"><img alt="Map of Life logo" src="/images/logos/mol_logo.png"></a>
  <a href="http://geobon.org/" target="_blank"><img alt="Geo Bon logo" src="/images/logos/geobon_logo.jpg"></a>
  <a href="http://www.ipbes.net/" target="_blank"><img alt="IPBES logo" src="/images/logos/ipbes_logo.jpg"></a>
-->
</div>
