<div class="logos">
  <a href="http://www.nsf.gov/"><img alt="National Science Foundation" src="/images/nsf.png"></a>
  <a href="http://www.yale.edu/"><img alt="Yale University" src="/images/yale.png"></a>
  <a href="http://www.berkeley.edu/"><img alt="University of California Berkeley" src="/images/berkeley.png"></a>
  <a href="http://www.ufl.edu/"><img alt="University of Florida" src="/images/uf.png"></a>
  <a href="http://www.gwu.edu/"><img alt="George Washington University" src="/images/gw.png"></a>
  <a href="http://www.lsu.edu/"><img alt="Louisiana State University" src="/images/524px-Louisiana_State_University_(logo).svg.png" width="100"></a>
</div>
